<header class="header">Report</header>
<hr class="rule">

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Grade</th>
        </tr>
    </thead>
    <tbody>
        {{#each assessmentMarks}}
        <tr>
            <th scope="row">{{this.AssessmentID}}</th>
            <td>{{this.AssessmentName}}</td>
            <td>{{this.DueDate}}</td>
            <td>{{this.AssessmentDesc}}</td>
            <td>{{this.Percentage}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!--sidebar nav on this page-->
<script>
var x = document.getElementById("navbar");
x.style.display = "none";
var x = document.getElementById("menubtn");
x.style.display = "block";
</script>